<html>
	<head>
		<title>
			Login
		</title>
	</head>

	<body>
		<div class="wrapper" >
			<h2>{{message}}</h2>
			<div id="signin_box">
				<form method="POST" action="/artists/login/check/">{% csrf_token %}
					<input type="text" id="artistId" name="artistId" style="width:104px;">
					<input type="password" id="password" name="password" style="width:104px;">
					<input type="submit" value="Sign-In">
				</form>
			</div>
			<div id="signup_box">
				<button type="button">click</button>
				<button type="button">click</button>
				<button type="button">click</button>
			</div>
		</div>
	</body>
</html>